@page "/authorizeViewExample"
@using Microsoft.AspNetCore.Authorization;
<h1>Authorize View Exmple</h1>

<AuthorizeView>
    <Authorized>
        <h4>Hello, @context.User.Identity.Name!</h4>
        <p>This content is only visible if user is authenticated.</p>
    </Authorized>
    <NotAuthorized>
        <p>Please signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code {

}
